*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-cl: #f1f5f8;
  --light-cl: #fff;
  --nv-spacing: 0.5em;
  --btn-cl: #0c22ec;
  --section-margin: 3em;
  --gray-cl: #4b3c12;
}
body {
  background: var(--bg-cl);
}
img {
  width: 100%;
  height: 100%;
}
.title {
  text-align: center;
}
.section {
  margin-top: var(--section-margin);
}
@media screen and (min-width: 660px) {
  .section {
    margin-right: 300px;
  }
}
/* =======================
   NAVBAR
   =====================*/
.nav-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  background: var(--light-cl);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.6s;
  padding: 10px;
}
.nav-brand {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 33;
}
.nav-logo {
  font-size: 1em;
}
.toggle-btn {
  cursor: pointer;
  background-color: var(--bg-cl);
  padding: 5px;
  transition: 0.5s;
}
.toggle-btn:hover {
  transform: rotate(90deg);
}
.nav-list {
  width: 100%;
  margin-top: 0.5em;
  padding: 0 1em;
  border-top: 2px;
  list-style-type: none;
  display: none;
}
.nav-list.show {
  display: block;
}
.list-item {
  margin-top: var(--nv-spacing);
  padding: 5px;
  cursor: pointer;
}
.list-item:hover {
  background: var(--bg-cl);
}
.social-icons {
  display: flex;
  padding: 10px;
  display: none;
}
.social-icons a {
  margin-right: var(--nv-spacing);
}
.social-icons a:hover {
  transform: scale(0.95);
}
.signIn-btn {
  padding: 0 5px;
  text-decoration: none;
  background: var(--btn-cl);
  color: var(--light-cl);
  border-radius: 0.2em;
}

@media screen and (min-width: 555px) {
  .nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    flex-wrap: nowrap;
  }
  .nav-brand {
    width: auto;
    flex: 3;
  }
  .toggle-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 0.8em;
    margin-top: 0;
    flex: 9;
  }
  .list-item {
    margin-right: 5px;
  }
  .list-item:hover {
    background: 0;
    text-decoration: overline;
    font-weight: 900;
  }
  .social-icons {
    display: flex;
    flex: 3;
  }
}

/* ===================
SECTION HERO
====================== */
.main-hero {
  height: 80vh;
  width: 100%;
  position: relative;
}
.main-hero {
  width: 100%;
  height: 100%;
}
.hero-img {
  position: relative;
  height: 80vh;
}
.hero-img img {
  height: 100%;
}
.hero-info {
  position: absolute;
  bottom: 1em;
  left: 2em;
  z-index: 22;
  max-width: 500px;
}

/* ==============
ACTIVITIES
================= */
.act-title {
  text-transform: uppercase;
  text-align: center;
}
.underline {
  width: 60px;
  height: 2px;
  background: var(--btn-cl);
  text-align: center;
  margin: 2px auto;
  display: block;
}
.act-info {
  background: var(--light-cl);
  max-width: 600px;
  margin: 2em auto 0 auto;
  padding: 5px;
  position: relative;
}
.act-info ul {
  list-style: none;
}
.act-info ul li {
  margin: var(--nv-spacing);
}
.act-info li span {
  font-weight: bold;
  color: var(--btn-cl);
}
.act-btn {
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 10px solid var(--bg-cl);
  border-radius: 50%;
  margin: 0.2em 0.5em;
  display: inline-block;
  cursor: pointer;
  font-size: 0.6em;
}
.act-btn.active {
  background: var(--btn-cl);
  color: var(--light-cl);
}
ul.activ {
  transform: translateY(0);
  z-index: 1;
}

/* ==============
SERMON
================= */
.sermon-container {
  max-width: 900px;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sermon {
  width: 500px;
  transition: 0.6s;
  margin: 1em;
}
.sermon img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.sermon:hover {
  cursor: pointer;
  transform: translate(3px);
}
.span-2 {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 660px) {
  .sermon {
    max-width: 300px;
  }
}
/* =================
SIDEBAR
================== */
.sidebar {
  margin-top: 2rem;
  min-height: 100vh;
  position: absolute;
  right: 3em;
  width: 300px;
  display: none;
}
.sidebar-title {
  padding: 1em;
  margin-top: 2em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 0.66em;
  text-align: center;
}
.sidebar-content {
  padding: 1em;
  font-size: 0.66em;
}
.sidebar-team {
  display: flex;
  font-size: 0.55em;
  justify-content: space-between;
  list-style: none;
  margin: 1em;
  flex-wrap: wrap;
}
.sidebar-team li {
  width: 40%;
  margin-top: 0.5em;
}
.sidebar-icons {
  text-align: center;
  margin-top: 0.55em;
}

@media screen and (min-width: 660px) {
  .sidebar {
    display: block;
  }
}

/* ============
ACTIVITIES
================ */
.slider {
  max-width: 900px;
  height: 300px;
  margin: 1em auto;
  padding: 5px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.slide {
  height: inherit;
  min-width: 100%;
  transition: 1s;
  padding: 3px;
  position: relative;
}
.slide img {
  display: block;
}

.manual-navigation {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 1em;
  display: flex;
}
.manual-btn {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 34;
}
.manual-btn:hover {
  background: var(--light-cl);
}
.manual-btn:not(:last-child) {
  margin-right: 1em;
}
input[type="radio"],
input[type="file"] {
  display: none;
}
#radio1:checked ~ .first {
  margin-left: -100%;
}
.navigation-auto {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 1em;
  display: flex;
  z-index: 33;
}
.auto-btn {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.auto-btn:not(:last-child) {
  margin-right: 1em;
}
#radio1:checked ~ .navigation-auto .check1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .check2 {
  background: white;
}
.slide .event-information {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-cl);
  flex-direction: column;
}

/* ==============
BLOG POST
=============== */
.blogPost {
  margin-top: 5em;
  position: relative;
  z-index: 35;
}
.category {
  position: fixed;
  top: 0em;
  width: 100%;
  background: rgb(17, 15, 43);
  color: var(--light-cl);
  margin-bottom: 1em;
}
.category ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  overflow-x: auto;
  margin-left: 1em;
}
ul::-webkit-scrollbar {
  background: transparent;
}
.category .list-item {
  font-size: 0.6em;
  transition: 0.5s;
  letter-spacing: 2px;
  line-height: 5em;
}
.category ul:first-child {
  padding-left: 6em;
}
.category .list-item:hover {
  text-decoration: underline;
  transform: scale(0.97);
  background: none;
  color: var(--bg-cl);
}
.category .list-item.active {
  color: var(--btn-cl);
}
.post {
  max-width: 600px;
  min-height: 300px;
  padding: 1em;
  margin: 0.6em auto;
  cursor: pointer;
}
.post img {
  height: 200px;
  object-fit: cover;
}
.post.first {
  margin-top: 5em;
}
.post-cat {
  text-align: right;
  color: var(--gray-cl);
}
.post-title {
  font-size: 1em;
}
.post-time {
  color: var(--gray-cl);
  font-size: 0.55em;
}

.blogPost p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.5em;
}
.blogPost p::first-letter {
  color: red;
  display: block;
}
@media screen and (min-width: 800px) {
  .blogPost {
    margin: 3em 0;
  }
  .category {
    margin-top: rem;
    min-height: 100vh;
    position: absolute;
    left: 3em;
    width: 300px;
    /* background: #03093a; */
    border-radius: 1em;
    /* color: var(--gray-cl); */
    padding: 2px;
  }
  .post-main-right {
    max-width: calc(100% - 300px);
    margin-left: 370px;
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  .post.first {
    margin-top: 0.5em;
  }
  .post {
    width: 50%;
  }
  .category ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .category .list-item {
    width: 45%;
    line-height: 2em;
    margin: 0;
  }
  .category ul:first-child {
    padding-left: 0;
  }
  .sidebar-heading {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.blog-carousel {
  height: 60vh;
  width: 100%;
  /* background: linear-gradient(to left, rgb(214, 210, 235), rgb(13, 3, 26)); */
  margin: 5em auto;
  color: var(--light-cl);
  overflow: hidden;
  position: relative;
}
.carousel {
  max-width: 1200px;
  height: inherit;
  margin: 1em auto;
  padding: 5px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.blog-title-page {
  position: absolute;
  z-index: 3;
  top: -0.2em;
  color: #222;
  left: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ==========
SINGLE POST
=========== */
.container-post {
  margin-top: 3rem;
}
.single-post {
  max-width: 500px;
  padding: 1em;
}
.single-post img {
  height: 200px;
}
.single-post-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.details {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.details h5 span {
  color: var(--gray-cl);
}
.post-desc {
  line-height: 1.5em;
  word-spacing: 1px;
}
.post-desc::first-letter {
  font-size: 2em;
  font-weight: 900;
  font-family: serif;
}
@media screen and (min-width: 800px) {
  .single-post {
    max-width: 1000px;
    margin: 3rem auto;
  }
  .single-post img {
    height: 300px;
  }
}
.edit-delete {
  display: flex;
  justify-content: flex-end;
}
.edit-icon {
  margin-right: 0.5em;
  color: blue;
}
.delete-icon {
  color: #da2d2d;
}
.edit-icon,
.delete-icon {
  cursor: pointer;
}

/* =================
UPADATE USER INFORMATION
================= */
.update-user-container {
  margin-top: 3rem;
  max-width: 500px;
  padding: 0.5em;
}
.update-user-container h1 {
  margin: 0.5em 0;
}
form {
  position: relative;
  padding: 1em;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: 1em;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.plus-icon {
  cursor: pointer;
  padding: 5px;
  background-color: lightblue;
  position: absolute;
  right: -1.5em;
  top: 0;
  color: red;
  border-radius: 50%;
}
.form-control {
  padding: 0.2em;
}
.form-control input {
  padding: 0.2em;
  width: 80%;
  border: none;
  box-shadow: 0px 0px 1px;
  outline: none;
}
.form-control input:focus {
  border: 0.1em solid #ff3300;
  box-shadow: none;
}
#update-btn {
  position: absolute;
  top: 0.5em;
  right: 2em;
  padding: 0.3em 1em;
  background: #d63636;
  border: none;
  color: var(--light-cl);
  transition: 0.5s;
  cursor: pointer;
}
#update-btn:hover {
  background: #a50909;
}

/* =================
REGISTER
================= */
.register {
  background: url("images/buy-1.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-form {
  max-width: 500px;
  justify-content: center;
  background: #856a6a;
  border-radius: 1em;
  color: var(--bg-cl);
}
.register-btn {
  background: teal;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.register-btn:hover {
  background: rgb(5, 49, 49);
  color: lightblue;
}
.register-title {
  font-weight: 700;
  text-transform: capitalize;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;
  font-size: 1em;
}
.register-form label {
  display: block;
}
.other-btn {
  position: absolute;
  top: -2em;
  right: 0;
}
.register-form h5 {
  font-size: 0.5em;
  margin: 0.5em;
}
.register-form h5 a {
  margin-left: 0.5em;
  color: blue;
}

/* ================
LOGIN
=============== */
.login-form {
  background: #e2dbdb;
}

/* ================
CREATE POST
================== */
.create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.add-foto-icon {
  position: absolute;
  top: 12px;
  right: 15px;
  padding: 5px;
  background: lightblue;
  border-radius: 50%;
  color: #0e0202;
  cursor: pointer;
}
.create-post-img {
  max-width: 500px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}
.create-post-img img {
  width: 450px;
  display: block;
  height: 200px;
  object-fit: cover;
}
.form-group {
  max-width: 500px;
  padding: 0 1em;
}
.form-group input,
.form-group textarea {
  width: 100%;
  margin: 0.2em;
  border: none;
  padding: 0.2em;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
#title {
  font-weight: 900;
}
#text {
  font-weight: 600;
  color: var(--gray-cl);
  min-height: 150px;
}
.create-post form {
  padding: 0;
  margin: 0;
}
#publish-btn {
  background: teal;
  display: inline-block;
  width: auto;
  padding: 0.2em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.5s;
}
#publish-btn:hover {
  background: rgb(5, 90, 90);
  color: white;
}
@media screen and (max-width: 414px) {
  .form-group {
    padding-left: 2em;
  }
  .create-post-img {
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .create-post {
    margin-top: 3rem;
    min-height: 100vh;
  }
  .create-post form {
    width: 1000px;
  }
  .create-post .form-group {
    max-width: 100%;
  }
  .create-post-img {
    max-width: 100%;
  }
  .create-post img {
    width: 100%;
    height: 300px;
  }
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
a {
  text-decoration: none;
}
